In [1]:
# import the library
import pandas as pd
import numpy as np
import os
import glob
from fuzzywuzzy import process

C:\Users\s160555\AppData\Local\anaconda3\envs\geo_env\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
bike_dir = 'Z:/AT Data/Data_to_be_processed/Bicycle Location ID/'

# Initialize a list to store the filtered and combined DataFrames
combined_data = []

# Traverse the directories recursively
for intersection_name in os.listdir(bike_dir):
    intersection_path = os.path.join(bike_dir, intersection_name)
    if os.path.isdir(intersection_path):
        for folder_level_2 in os.listdir(intersection_path):
            level_2_path = os.path.join(intersection_path, folder_level_2)
            if os.path.isdir(level_2_path):
                for folder_level_3 in os.listdir(level_2_path):
                    level_3_path = os.path.join(level_2_path, folder_level_3)
                    if os.path.isdir(level_3_path):
                        for file in os.listdir(level_3_path):
                            if file.endswith('.csv'):
                                file_path = os.path.join(level_3_path, file)

                                # Determine the direction from the CSV filename
                                if "Southbound" in file:
                                    direction = "Southbound"
                                elif "South" in file:
                                    direction = "Southbound"
                                elif "Northbound" in file:
                                    direction = "Northbound"
                                elif "North" in file:
                                    direction = "Northbound"
                                elif "Westbound" in file:
                                    direction = "Westbound"
                                elif "West" in file:
                                    direction = "Westbound"
                                elif "Eastbound" in file:
                                    direction = "Eastbound"
                                elif "East" in file:
                                    direction = "Eastbound"
                                else:
                                    direction = "Unknown"

                                # Read the CSV file
                                df = pd.read_csv(file_path)
                                # Step 2: Add required "Direction" and "Intersection" columns
                                df["Direction"] = direction
                                df["Intersection"] = intersection_name

                                # Append the cleaned DataFrame to the list
                                combined_data.append(df)

# Step 3: Combine all the filtered DataFrames into one and ignore column mismatches
final_combined_df = pd.concat(combined_data, ignore_index=True)
final_combined_df.head()

                  =T("Date")  =T("Bike Lane")  Direction       Intersection
0  =T("09/15/2024 00:00:00")              2.0  Eastbound  SR 201 & 18th Ave
1  =T("09/15/2024 01:00:00")              1.0  Eastbound  SR 201 & 18th Ave
2  =T("09/15/2024 02:00:00")              6.0  Eastbound  SR 201 & 18th Ave
3  =T("09/15/2024 03:00:00")              0.0  Eastbound  SR 201 & 18th Ave
4  =T("09/15/2024 04:00:00")              3.0  Eastbound  SR 201 & 18th Ave

In [5]:
# remove the special character from the column heading
final_combined_df.columns = final_combined_df.columns.str.replace(r'=T\("([^"]+)"\)', r'\1', regex=True)
# drop the empty rows
final_combined_df1=final_combined_df.dropna(subset=['Bike Lane'], how='all')
# fill the bike lane with west nd east bound sum
#final_combined_df1['Bike Lane']=final_combined_df1['Bike Lane'].fillna(final_combined_df1['Eastbound'] +final_combined_df1['Westbound'])
# now drop the easta nd west bound
#final_combined_df1=final_combined_df1.drop(['Westbound','Eastbound'],axis=1)
# fix the date column as datetime format
final_combined_df1['Date'] = final_combined_df1['Date'].str.extract(r'(\d{2}/\d{2}/\d{4} \d{2}:\d{2}:\d{2})')[0]
final_combined_df1['Date'] = pd.to_datetime(final_combined_df1['Date'])
final_combined_df1.head()

C:\Users\s160555\AppData\Local\Temp\ipykernel_24724\1330614553.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_combined_df1['Date'] = final_combined_df1['Date'].str.extract(r'(\d{2}/\d{2}/\d{4} \d{2}:\d{2}:\d{2})')[0]
C:\Users\s160555\AppData\Local\Temp\ipykernel_24724\1330614553.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_combined_df1['Date'] = pd.to_datetime(final_combined_df1['Date'])

                 Date  Bike Lane  Direction       Intersection
0 2024-09-15 00:00:00        2.0  Eastbound  SR 201 & 18th Ave
1 2024-09-15 01:00:00        1.0  Eastbound  SR 201 & 18th Ave
2 2024-09-15 02:00:00        6.0  Eastbound  SR 201 & 18th Ave
3 2024-09-15 03:00:00        0.0  Eastbound  SR 201 & 18th Ave
4 2024-09-15 04:00:00        3.0  Eastbound  SR 201 & 18th Ave

In [6]:
final_combined_df1.Intersection.unique()

array(['SR 201 & 18th Ave'], dtype=object)

In [7]:
final_combined_df1.shape

(15452, 4)

In [8]:
# read the meta data
meta_data_path4=pd.read_excel(r'Z:/AT Data/Data_to_be_processed/DATA LOCATION GUIDE.xlsx',sheet_name='D6')
meta_data6=meta_data_path4[['ID','Intersection Description']]
# meta_data_path3=pd.read_excel(r'Z:/AT Data/Data_to_be_processed/DATA LOCATION GUIDE.xlsx',sheet_name='D3')
# meta_data3=meta_data_path3[['ID','Intersection Description']]
# meta_data34=pd.concat([meta_data3,meta_data4])
meta_data6['District'] = meta_data6['ID'].astype(str).str[0].astype(int)
meta_data6.head()

C:\Users\s160555\AppData\Local\Temp\ipykernel_24724\2600168932.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_data6['District'] = meta_data6['ID'].astype(str).str[0].astype(int)

     ID Intersection Description  District
0  6001        SR 201 & 18th Ave         6

In [9]:
meta_data6['Intersection Description'].unique()

array(['SR 201 & 18th Ave'], dtype=object)

In [10]:
final_combined_df2=pd.merge(final_combined_df1,meta_data6, left_on=['Intersection'], right_on=['Intersection Description'], how='inner')
final_combined_df2.head()

,Date,Bike Lane,Direction,Intersection,ID,Intersection Description,District
0,2024-09-15 00:00:00,2.0,Eastbound,SR 201 & 18th Ave,6001,SR 201 & 18th Ave,6
1,2024-09-15 01:00:00,1.0,Eastbound,SR 201 & 18th Ave,6001,SR 201 & 18th Ave,6
2,2024-09-15 02:00:00,6.0,Eastbound,SR 201 & 18th Ave,6001,SR 201 & 18th Ave,6
3,2024-09-15 03:00:00,0.0,Eastbound,SR 201 & 18th Ave,6001,SR 201 & 18th Ave,6
4,2024-09-15 04:00:00,3.0,Eastbound,SR 201 & 18th Ave,6001,SR 201 & 18th Ave,6

In [11]:
# now join with intersection details 
# if 'Intersection Description' in meta_data34.columns:
#     intersection_names=meta_data34['Intersection Description'].tolist()

#     def match_intersection(name):
#         match, score = process.extractOne(name, intersection_names)  # Find best match
#         return match if score > 80 else None 
#             # Apply matching function to the final_df
#     final_combined_df1['Matched_Intersection'] = final_combined_df1['Intersection'].apply(match_intersection)

#     # Merge with intersection description data
#     final_combined_df1 = final_combined_df1.merge(meta_data34, left_on='Matched_Intersection', right_on='Intersection Description', how='left')

# else:
#     print("Error: 'Intersection Description' column not found in the intersection description file.")
# final_combined_df1.head()

In [12]:
final_combined_df1.columns

Index(['Date', 'Bike Lane', 'Direction', 'Intersection'], dtype='object')

In [13]:
final_combined_df1.shape

(15452, 4)

In [14]:
# we will drop unnecessary columns
com_df1=final_combined_df2[['Date', 'Bike Lane', 'Direction', 'ID', 'Intersection Description', 'District']]
com_df2=com_df1.rename(columns={'ID':'Loc_id','Intersection Description':'Intersection'})
com_df2=com_df2.rename(columns={'Bike Lane':'Count'})
com_df2.head()

                 Date  Count  Direction  Loc_id       Intersection  District
0 2024-09-15 00:00:00    2.0  Eastbound    6001  SR 201 & 18th Ave         6
1 2024-09-15 01:00:00    1.0  Eastbound    6001  SR 201 & 18th Ave         6
2 2024-09-15 02:00:00    6.0  Eastbound    6001  SR 201 & 18th Ave         6
3 2024-09-15 03:00:00    0.0  Eastbound    6001  SR 201 & 18th Ave         6
4 2024-09-15 04:00:00    3.0  Eastbound    6001  SR 201 & 18th Ave         6

In [29]:
# make sure the date is in date format to extract the temporal variable
com_df2['Date'] = pd.to_datetime(com_df2['Date'], format="%m/%d/%Y %H:%M:%S")

# Extract year, month, day
com_df2['Year'] = com_df2['Date'].dt.year
com_df2['Month'] = com_df2['Date'].dt.strftime('%b') 
com_df2['Day'] = com_df2['Date'].dt.day_name()

# Extract weekday name and check if it's a weekend
com_df2['Weekday_Type'] = com_df2['Day'].apply(lambda x: "Weekend" if x in ['Saturday', 'Sunday'] else "Weekday")

# Extract hour and AM/PM
com_df2['Hour'] = com_df2['Date'].dt.strftime('%I %p').str.lstrip('0')
com_df2['Mode']="Bicycle"
com_df3=com_df2[['Loc_id','District','Intersection','Year', 'Month',
       'Day','Weekday_Type','Date', 'Hour','Mode','Direction','Count']]
com_df3.head()

,Loc_id,District,Intersection,Year,Month,Day,Weekday_Type,Date,Hour,Mode,Direction,Count
0,6001,6,SR 201 & 18th Ave,2024,Sep,Sunday,Weekend,2024-09-15 00:00:00,12 AM,Bicycle,Eastbound,2.0
1,6001,6,SR 201 & 18th Ave,2024,Sep,Sunday,Weekend,2024-09-15 01:00:00,1 AM,Bicycle,Eastbound,1.0
2,6001,6,SR 201 & 18th Ave,2024,Sep,Sunday,Weekend,2024-09-15 02:00:00,2 AM,Bicycle,Eastbound,6.0
3,6001,6,SR 201 & 18th Ave,2024,Sep,Sunday,Weekend,2024-09-15 03:00:00,3 AM,Bicycle,Eastbound,0.0
4,6001,6,SR 201 & 18th Ave,2024,Sep,Sunday,Weekend,2024-09-15 04:00:00,4 AM,Bicycle,Eastbound,3.0

In [16]:
com_df3['Direction'].unique()

array(['Eastbound', 'Northbound', 'Southbound', 'Westbound'], dtype=object)

In [17]:
# Check the duplicate values and drop it
com_df4=com_df3.drop_duplicates(subset=['Loc_id','District','Intersection','Year', 'Month',
       'Day','Weekday_Type','Date', 'Hour','Mode','Direction','Count'])
com_df4.shape

(15452, 12)

In [18]:
com_df4.isnull().sum()

Loc_id          0
District        0
Intersection    0
Year            0
Month           0
Day             0
Weekday_Type    0
Date            0
Hour            0
Mode            0
Direction       0
Count           0
dtype: int64

In [19]:
com_df4['Count'].describe()

count    15452.000000
mean         1.626715
std          3.815047
min          0.000000
25%          0.000000
50%          0.000000
75%          2.000000
max         60.000000
Name: Count, dtype: float64

In [20]:
fraction_values = com_df4[com_df4['Count'] != com_df4['Count'].astype(int)]
print(fraction_values)

Empty DataFrame
Columns: [Loc_id, District, Intersection, Year, Month, Day, Weekday_Type, Date, Hour, Mode, Direction, Count]
Index: []

In [23]:
com_df3.to_csv('Z:/AT Data/Processed_data/D6_Bike/D6_bike_data_for_Tableau.csv',index=False)

In [24]:
# Lets extract the data for Traffic Census
ts=com_df4[['Loc_id','Date', 'Hour','Direction','Count']]
ts['Count'] = ts['Count'].astype(int)
ts=ts.rename(columns={'Hour':'Time'})
ts['Date'] = pd.to_datetime(ts['Date']).dt.date
# Pivot the table
pivoted_df = ts.pivot_table(index=['Loc_id','Date', 'Time'], columns='Direction', values='Count', fill_value=0)
# Reset index to make it more readable
pivoted_df = pivoted_df.reset_index()
pivoted_df.head()

C:\Users\s160555\AppData\Local\Temp\ipykernel_24724\1890048495.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ts['Count'] = ts['Count'].astype(int)

Direction,Loc_id,Date,Time,Eastbound,Northbound,Southbound,Westbound
0,6001,2024-09-10,11 PM,3.0,0.0,0.0,0.0
1,6001,2024-09-11,1 AM,2.0,2.0,0.0,0.0
2,6001,2024-09-11,1 PM,0.0,2.0,0.0,1.0
3,6001,2024-09-11,10 AM,0.0,1.0,0.0,0.0
4,6001,2024-09-11,10 PM,10.0,0.0,0.0,0.0

In [25]:
pivoted_df.to_csv('Z:/AT Data/Processed_data/D6_Bike/D6_bike_data_for_census.csv',index=False)

In [26]:
# end of the script