In [1]:
import pandas as pd
import numpy as np
import os
import glob
from fuzzywuzzy import process

C:\Users\s160555\AppData\Local\anaconda3\envs\geo_env\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
#!pip install fuzzywuzzy

In [3]:
# Read the meta_data
#Z:\AT Data\Tableau Database\Archive\For Mintu
meta_data_path=pd.read_excel(r'Z:/AT Data/Tableau Database/Archive/For Mintu/D3/DATA LOCATION GUIDE.xlsx',sheet_name='D3')
meta_data_path.head()

,Intersection Description,ID,03 - Pedestrian Locations,03 - Bicycle Locations
0,HWY 49 & I80 EB off Ramp,3001,03P001 - 2023 - Hwy 49 & I80 EB Off Ramp,NaN
1,HWY 49 & Sawyer St,3002,03P002 - 2023 - Hwy 49 & Sawyer St,NaN
2,HWY 49 & Elm Ave/Fulweiler Ave,3003,03P003 - 2023 - Hwy 49 & Elm Ave_Fulwiler Ave,NaN
3,HWY 49 & Palm Ave,3004,03P004 - 2023 - Hwy 49 & Palm Rd,NaN
4,HWY 49 & Marguerite Mile Rd,3005,03P005 - 2023 - Hwy 49 & Marguerite Mile Rd,NaN

In [4]:
# read the directory
data_dir = r'Z:/AT Data/Tableau Database/Archive/For Mintu/D3/D3 Pedestrian Sample'
# read the csv file
ped_data = glob.glob(os.path.join(data_dir, "*.csv"))

#store the process data
agg = []
# List the expected column name
expected_columns = ['Date', 'Northbound', 'Southbound', 'Eastbound', 'Westbound', 'Intersection', 'Direction']
def extract_direction(filename):
    directions = ['North', 'South', 'East', 'West']
    for direction in directions:
        if direction in filename:
            return direction
    return 'Unknown'

for file in ped_data:
    filename = os.path.basename(file)
    
    try:
        name_part = filename.split("__")[1]
        name_parts = name_part.split('_')
        intersection_name = name_parts[1]
        direction = extract_direction(filename)
    except IndexError:
        print(f"Skipping invalid file name format: {filename}")
        continue     

    pdf = pd.read_csv(file)

    # Add extracted info to DataFrame
    pdf['Intersection'] = intersection_name
    pdf['Direction'] = direction

    # Ensure all expected columns exist
    for col in expected_columns:
        if col not in pdf.columns:
            pdf[col] = pd.NA  

    # Append to list
    agg.append(pdf)

# Now concatenate all DataFrames without dropping expected columns
com_df = pd.concat(agg, ignore_index=True)
com_df=com_df.drop(['Unnamed: 3'],axis=1)
# sum the volume for direction within the bound
com_df[['Southbound', 'Northbound', 'Eastbound', 'Westbound']] = com_df[['Southbound', 'Northbound', 'Eastbound', 'Westbound']].fillna(0)
com_df['Count'] = com_df['Southbound'] + com_df['Northbound'] + com_df['Eastbound'] + com_df['Westbound']
# drop the directiional flow within the bound
com_df=com_df.drop(['Southbound', 'Northbound', 'Eastbound', 'Westbound'],axis=1)
# rename the Direction to Bound
com_df['Direction'] =com_df['Direction'].replace({
    'East': 'Westbound',
    'West': 'Eastbound',
    'North': 'Southbound',
    'South': 'Northbound'
})
# Display the first few rows
com_df.head()

C:\Users\s160555\AppData\Local\Temp\ipykernel_24244\2310566471.py:44: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  com_df = pd.concat(agg, ignore_index=True)

            Date Intersection  Direction  Count
0  1/1/2024 0:00       Atwood  Westbound    1.0
1  1/1/2024 1:00       Atwood  Westbound    2.0
2  1/1/2024 2:00       Atwood  Westbound    0.0
3  1/1/2024 3:00       Atwood  Westbound    0.0
4  1/1/2024 4:00       Atwood  Westbound    0.0

In [5]:
com_df.shape

(854107, 4)

In [6]:
# now join with intersection details 
if 'Intersection Description' in meta_data_path.columns:
    intersection_names=meta_data_path['Intersection Description'].tolist()

    def match_intersection(name):
        match, score = process.extractOne(name, intersection_names)  # Find best match
        return match if score > 50 else None 
            # Apply matching function to the final_df
    com_df['Matched_Intersection'] = com_df['Intersection'].apply(match_intersection)

    # Merge with intersection description data
    com_df = com_df.merge(meta_data_path, left_on='Matched_Intersection', right_on='Intersection Description', how='inner')

else:
    print("Error: 'Intersection Description' column not found in the intersection description file.")
com_df.head()

,Date,Intersection,Direction,Count,Matched_Intersection,Intersection Description,ID,03 - Pedestrian Locations,03 - Bicycle Locations
0,1/1/2024 0:00,Atwood,Westbound,1.0,HWY 49 & Atwood Rd,HWY 49 & Atwood Rd,3009,03P009 - 2023 - Hwy 49 & Atwood Rd,NaN
1,1/1/2024 1:00,Atwood,Westbound,2.0,HWY 49 & Atwood Rd,HWY 49 & Atwood Rd,3009,03P009 - 2023 - Hwy 49 & Atwood Rd,NaN
2,1/1/2024 2:00,Atwood,Westbound,0.0,HWY 49 & Atwood Rd,HWY 49 & Atwood Rd,3009,03P009 - 2023 - Hwy 49 & Atwood Rd,NaN
3,1/1/2024 3:00,Atwood,Westbound,0.0,HWY 49 & Atwood Rd,HWY 49 & Atwood Rd,3009,03P009 - 2023 - Hwy 49 & Atwood Rd,NaN
4,1/1/2024 4:00,Atwood,Westbound,0.0,HWY 49 & Atwood Rd,HWY 49 & Atwood Rd,3009,03P009 - 2023 - Hwy 49 & Atwood Rd,NaN

In [7]:
com_df.shape

(854107, 9)

In [8]:
# we will drop unnecessary columns
com_df1=com_df[['ID','Intersection Description','Direction','Date', 'Count']]
com_df2=com_df1.rename(columns={'ID':'Loc_id','Intersection Description':'Intersection'})
com_df2.head()

   Loc_id        Intersection  Direction           Date  Count
0    3009  HWY 49 & Atwood Rd  Westbound  1/1/2024 0:00    1.0
1    3009  HWY 49 & Atwood Rd  Westbound  1/1/2024 1:00    2.0
2    3009  HWY 49 & Atwood Rd  Westbound  1/1/2024 2:00    0.0
3    3009  HWY 49 & Atwood Rd  Westbound  1/1/2024 3:00    0.0
4    3009  HWY 49 & Atwood Rd  Westbound  1/1/2024 4:00    0.0

In [10]:
# Now we will get the year, month, day, weekday and weekend status and also hour from data columns
# make sure the date is in date format to extract the temporal variable
com_df2['Date'] = pd.to_datetime(com_df2['Date'], format="%m/%d/%Y %H:%M")

# Extract year, month, day
com_df2['Year'] = com_df2['Date'].dt.year
com_df2['Month'] = com_df2['Date'].dt.strftime('%b') 
com_df2['Day'] = com_df2['Date'].dt.day_name()

# Extract weekday name and check if it's a weekend
com_df2['Weekday_Type'] = com_df2['Day'].apply(lambda x: "Weekend" if x in ['Saturday', 'Sunday'] else "Weekday")

# Extract hour and AM/PM
com_df2['Hour'] = com_df2['Date'].dt.strftime('%I %p').str.lstrip('0')
com_df2['District']=3
com_df2['Mode']="Pedestrian"
com_df3=com_df2[['Loc_id','District','Intersection','Year', 'Month',
       'Day','Weekday_Type', 'Date','Hour','Mode','Direction','Count']]
com_df3.head()

,Loc_id,District,Intersection,Year,Month,Day,Weekday_Type,Date,Hour,Mode,Direction,Count
0,3009,3,HWY 49 & Atwood Rd,2024,Jan,Monday,Weekday,2024-01-01 00:00:00,12 AM,Pedestrian,Westbound,1.0
1,3009,3,HWY 49 & Atwood Rd,2024,Jan,Monday,Weekday,2024-01-01 01:00:00,1 AM,Pedestrian,Westbound,2.0
2,3009,3,HWY 49 & Atwood Rd,2024,Jan,Monday,Weekday,2024-01-01 02:00:00,2 AM,Pedestrian,Westbound,0.0
3,3009,3,HWY 49 & Atwood Rd,2024,Jan,Monday,Weekday,2024-01-01 03:00:00,3 AM,Pedestrian,Westbound,0.0
4,3009,3,HWY 49 & Atwood Rd,2024,Jan,Monday,Weekday,2024-01-01 04:00:00,4 AM,Pedestrian,Westbound,0.0

In [11]:
com_df3.shape

(854107, 12)

In [12]:
# Check the duplicate values and drop it
com_df4=com_df3.drop_duplicates(subset=['Loc_id','District','Intersection','Year', 'Month',
       'Day','Weekday_Type','Date', 'Hour','Mode','Direction','Count'])
com_df4.shape

(850219, 12)

In [13]:
com_df4.Intersection.unique()

array(['HWY 49 & Atwood Rd', 'HWY 49 & Bell Rd', 'HWY 49 & Dry Creek Rd',
       'HWY 49 & Edgewood Rd', 'HWY 49 & Education St',
       'HWY 49 & Elm Ave/Fulweiler Ave', 'HWY 49 & I80 EB off Ramp',
       'HWY 49 & Locksley Ln', 'HWY 49 & Luther Rd',
       'HWY 49 & Marguerite Mile Rd', 'HWY 49 & New Airport Rd',
       'HWY 49 & Palm Ave', 'HWY 49 & Quartz Dr', 'HWY 49 & Sawyer St',
       'HWY 49 & Shale Ridge Rd', 'HWY 49 & Willow Creek Dr',
       'HWY 50 & Bedford Ave', 'HWY 50 & Canal St', 'HWY 50 & Spring St'],
      dtype=object)

In [14]:
com_df4.Direction.unique()

array(['Westbound', 'Southbound', 'Northbound', 'Eastbound'], dtype=object)

In [15]:
# Save the file
com_df4.to_csv(('Z:/AT Data/Tableau Database/Archive/For Mintu/D3/output/combined_ped_data_with_desc.csv'), index=False)

# end of the script